.container 
{
    display: grid;
    grid-template-areas:
    "photo"
    "catchphrase"
    "text";
    grid-row-gap: 10px;
}

.photo
{
    justify-self: center;
    grid-area: "photo";
}

.photo img
{
    width: 40vw;
}


.catchphrase
{
    justify-self: center;
    grid-area: "catchphrase";
}

.text
{
    justify-self: center;
    grid-area: "text";
}